@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #111111;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #ff007f;
}

::selection {
  color: #fff;
  background: #ff007f;
}
@font-face {
  font-family: "mexcellent";
  src: url("./fonts/MEXCELLENT 3D.otf") format("opentype"),
    url("./fonts/MEXCELLENT RG.otf") format("opentype");
}
